<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>
					<Exclude>
						<ModulePath>.*Migrations.*</ModulePath>
						<SourcePath>.*Program.cs</SourcePath>
						<ModulePath>.*VetClinicAPI.Tests.*</ModulePath>
					</Exclude>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>